body {
	background: #feebc1;
	color: #ee2f5d;
	font-family: sans-serif;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: inherit;
}

div#banner {
	font-size: 100px;
	line-height: 67px;
	align-content: center;
	transform: translateX(-10%);
	margin-top: 20px;
}

div#subbanner {
	font-size: 16px;
	line-height: 17px;
	margin-bottom: 20px;
}

iframe#latestrelease {
	border: 0;
	width: 700px;
	height: 905px;
}

span#black {
	color: #d6b57d;
}

hr {
	border-color: #d6b57d;
	border-style: solid;
	border-width: .5px;
	width: 67%;
}

div#bios {
	width: 65%;
}

div.bio {
	height: 150px
}

div.bio:nth-child(odd) {
	text-align: left;
}

div.bio:nth-child(even) {
	text-align: right;
}

div.bio:nth-child(odd) div.name, div.bio:nth-child(odd) div.desc {
	margin-left: 160px;
}

div.bio:nth-child(even) div.name, div.bio:nth-child(even) div.desc {
	margin-right: 160px;
}

div.bio:nth-child(even) img {
	transform: translateX(-150px);
}

div.bio img {
	position: absolute;
}

div.name, div.desc {
	vertical-align: text-top;
}

div.name {
	padding-top: 2px;
}

div.desc {
	color: #b39156;
}
